@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1,h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 1rem 0;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 3rem;
}

.navbar a {
    color: #fff;
    padding: 1rem 2rem;
    margin: 0 .5px;
}

.navbar a:hover {
    border-bottom: 2px solid var(--warning);
}

.navbar ul {
    display: flex;
}

.navbar .brand {
    font-weight: 400;
}

.navbar h1 {
    font-size: 3rem;
}

.navbar span {
    color: var(--warning);
}

/* header */

.main-header {
    background-image: url('../img/bg-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
    position: relative;
}

.main-header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6)
}

.main-header * {
    z-index: 5;
}

.main-header .content h1 {
    font-size: 5.5rem;
}

.main-header .content p {
    font-size: 2.3rem;
    max-width: 60rem;
    margin: 2rem 0 3rem;
}

/* icons */
.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.icons i {
    background-color: var(--primary);
    color: #fff;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    width: 7.5rem;
}

/* about */
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.column{
    flex:50%;
}

.col-1, .col-2{
    height: 100%;
}


.col-1 img{
    height: 100%;
    width: 100%;
}
.col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-2 h2{
    font-size: 4rem;
}

/* Gallery */
.gallery{
    display: flex;
    flex-direction: column;
}

.column-gallery{
    flex: 25%;
}

.gallery img:hover{
    opacity: .8;
    cursor: pointer;
    transition: 0.5s;
}


/* Rooms */

.card-text{
    padding: 2rem;
    color: #fff;  
    font-weight: 700;
}


/* Teams */
.team-member img {
    border-radius: 50%;
}
.team-member img:hover{
    opacity: 0.8;

}

/* Contact */
.contact-row{
    display: flex;
    width:  100%;
}

.contact-column{
    flex: 50%;
}

.contact-column-2{
    padding: 1rem;
}

.form-control input{
    width: 100%;
    padding: 1rem;
    height: 40px;
    border: 1px solid #f5f5f5;
}

.form-control label{
    display: block;
}

.contact-column-2 h2{
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
}


.contact-form input[type="submit"]{
    margin: 2rem 0 0;
}

.form-control {
    margin-bottom: 1rem;
}


/* Footer */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 12.5rem;
}

.social{
    margin-top: 3rem;
}

.social a{
    color: var(--danger);
    margin-right: 1rem;
}

.social a:hover{
    opacity: 0.7;
}


/* Responsive */
@media (max-width:768px) {
    html{
        font-size: 8px;
    }
    .navbar{
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 20px;
    }

    .navbar a {
        padding: 10px;
        margin: 0 3px;

    }

    .flex-items{
        flex-direction: column;
    }

    .column{
        flex: 100%;
    }

    .col-2{
        padding: 2rem;
    }

    .contact-row{
        flex-direction: column;
    }

    .flex-grid .column{
        flex: 50%;
    }

    .blog-container {
        flex-direction: column;
    }

    .blog-image img {
        display: block;
        height: auto;
    }
}

@media (max-width:880px) {
    .contact-row {
        flex-direction: column;
    }
}


/* Blogs */


.main-header.blogs{
    background-image: url(../img/bg-2.jpeg);
    height: 50vh;
}

.blog-container{
    display: flex;
    margin: 2rem;
}

.blog-image{
    flex: 2;
}

.blog-image img{
    height: 100%;
    width: 100%;
}

.blog-content{
    flex: 3;
    padding: 5em;
    display: flex;
    flex-direction: column;   
    justify-content: flex-start; 
    align-items: flex-start;
}